{% extends 'diary/base.html' %}

{% block content %}
<p>{{ day.title }}</p>
<form action="" method="POST">
    <!--
        (action=)はこれに対し書いたurlに対しデータを送信するか、または
    ""←のように空文字にすると今現在いるurlに対してデータを扱うかということになる。
        (method=)はこれに対してどのようにデータをするか
        2パターンありPOST　か　GET である
        POSTに関してはデータを内部的に扱う方法
        GETに関してはデータを公開できる状態であること(例amazonなどの商品ページなど)
    -->
    <table class='table'>
        <tr>
            <th>タイトル</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>本文</th>
            <td>{{ form.text }}</td>
        </tr>
        <tr>
            <th>日付</th>
            <td>{{ form.date }}</td>
        </tr>
    </table>
<!--form.as_pと置くことで自動的にDayモデルの内容から生成してくれる-->
<button type="submit" class="btn btn-primary">送信</botton>
    <!--btn btn-primaryはボタンの見た目を変えている。-->
{% csrf_token %}　<!--POSTに対しては必須であるものでセキュリティに対する構文である-->
</form>
{% endblock %}

<!--<form>内のボタンサブミットによってサーバーにデータを与える仕組み-->
